.sakura 
{
    background-image: url('sakura.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
h1 
{
    font-size:5em;
    font-weight:lighter;
    color: #b22708;
}
h2
{
    text-align:center;
    font-size:1em;
    font-weight:lighter;
    color:#b22708;
}
img
{
    display: block;
    margin-left: auto;
    margin-right: auto;
} 
#subhead 
{
    margin:auto;
    background-color: palevioletred;
}
#left 
{
    float: left;
    width: 400px;
    background-color: #CB87AF;
    border-radius: 5px;
}
#center
{
    float: none;
    display: block; 
    margin: auto;
    width: auto;
    border-radius: 4px;
}
#review
{
    float: none;
    display: block; 
    margin: 0 auto;
    width: 800px;
    background-color: #ffd3ed;
    border-radius: 5px;
}
p
{
    text-align:center;
    color:rgb(154, 6, 6);
}
.header 
{
    text-align:center;
    position: static; 
    background-color: rgb(246, 139, 142);
}



